<!DOCTYPE html>
<html lang="fr-BE">

<head>
    <script src="../bower_components/angular/angular.js"></script>
</head>

<body>

<div ng-app="map" ng-controller="mainCtrl">

    <p>
        Please filter :
        <input type="text" ng-model="search.sports">
    </p>

    <ul>
        <li ng-repeat="center in centers | filter: search">{{ center.name }}
            <ul>
                <li ng-repeat="sport in center.sports">{{ sport }}</li>
            </ul>
        </li>
    </ul>

</div>

<script src="map.app.js"></script>


</body>
</html>